@import './prisma-funky-normal.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

/*
  Override default style provided by tailwind typography plugin, which adds quotes before and after inline code. We don't want that because it looks weird with the dark background of code blocks.
*/
.prose :before,
.prose :after {
  content: none;
}
